html, body {
	margin: 0;
	padding: 0;
}

* {
	font-family: "Calibri Light", sans-serif;
}

.noDecoration {
	text-decoration: none;
	color: black;
}

.header h1 {
	font-size: 2.5em;
	margin: 1.1%;
}

.header {
	margin: 0;
	display: block;
	background-color: #5f9ea0;
	text-align: center;
	height: 130px;
	position: absolute;
	width: 100%;
	vertical-align: middle;
}

.menuItem {
	display: inline-block;
	list-style-type: none;
	padding: 0.2% 1%;
	margin: 0 0.5%;
	font-size: 1.5em;
	vertical-align: middle;
}

.menuItem:hover {
	background-color: #568e90;
}

.menuItem:active {
	background-color: #4c7d80;
}

.noBounds {
	padding: 0;
	margin: 0;
}

.overflow {
	overflow: hidden;
}

.outer {
	margin-top: 135px;
	position: relative;
	left: 50%;
	max-width: 800px;
	display: block;
}

.content {
	position: relative;
	left: -50%;
	display: inline-block;
	float: left;
}